*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#contain{
     width: 100%;
    max-width: 1670px;
    padding-bottom: 70px;
}
#contain{
    background-image: url(/images/light.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
#contain .main{
    
}
#contain .text-container {
    text-align: right;
    margin-left: 980px;
    padding-top: 120px;
    padding-right: 150px;

}
#contain .text-container h2 {
    font-size: 35px;
    padding-bottom: 10px ;
    font-weight: bold;
}
#contain .text-container p {
    line-height: 26px;
    color: #444343;
    padding-bottom: 10px;
}
#contain .text-container .btn{
    background-color: #F15B22;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 5px;
}
.container{
    margin: 100px 120px;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.container .container-text {
    margin-right: 130px;
}
.container .container-text h3{
    font-size: 28px;
    margin-right: 160px;
    padding-bottom: 14px;
}
.container .container-text p{
    color: #444343;
    padding-bottom: 10px;
    line-height: 26px;
    padding-top: 0px;
    margin-right: 90px;
}
.container .container-text .check #box{
    color: #16D887;
}
#plan{
    
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 80px;
}
#plan h2 {
    text-align: center;
}
#plan .photo {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#plan .photo .img{
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
#plan .photo h4{
    font-size: 20px;
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}
#plan .photo p{
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#plan .photo .web {
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#jamela #last-btn{
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 3px;
    border: none;
    color: #F15B22;
    background-color: white;
    margin-top: 15px;
}
#jamela{
    
    margin: 50px 200px;
    border-radius: 10px;
    background-image: linear-gradient(90deg,rgba(234, 129, 16, 0.931)10%  , rgba(250, 250, 250, 0.5) ) , url(/images/background2.jpeg);
    padding: 40px 50px;
    background-repeat: no-repeat;
    background-size: contain;
     
}
#jamela .jamela-text{
    padding: 85px;
}
#footer{
    padding: 120px 150px;
    color: white;
    background-color: black;
}
#footer .footer-container{
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
#footer .footer-text{
    width: 400px;
}
#footer .footer-text h2{
    font-size: 30px;
    font-weight: bold;
}
#footer .footer-text p{
    margin-top: 10px;
    line-height: 26px;
}
.icon {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}
.icon a img{
    border-radius: 50%;
    gap: 50px;
}
.footer-form{
    width: 340px;
}
.footer-form h3{
    font-size: 35px;
    margin-bottom: 15px;
}
.footer-form .email{
    margin-bottom: 20px;
    
}
.footer-form .email .input{
    padding: 10px 30px;
}
.footer-form #btn{
    background-color: white;
    padding: 15px 25px;
    border: none;
    color: #F15B22;
    border-radius: 5px;

}