*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#contain{
     width: 100%;
    max-width: 1600px;
    padding-bottom: 70px;
}
#contain{
    background-image: url(/images/light.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
}
#contain .main{
    
}
#contain .text-container {
    text-align: right;
    margin-left: 980px;
    padding-top: 120px;
    padding-right: 150px;

}
#contain .text-container h2 {
    font-size: 35px;
    padding-bottom: 10px ;
    font-weight: bold;
}
#contain .text-container p {
    line-height: 26px;
    color: #444343;
    padding-bottom: 10px;
}
#contain .text-container .btn{
    background-color: #F15B22;
    padding: 15px 25px;
    border: none;
    color: white;
    border-radius: 5px;
}
.container{
    margin: 100px 120px;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}
.container .container-text {
    margin-right: 130px;
}
.container .container-text h3{
    font-size: 28px;
    margin-right: 160px;
    padding-bottom: 14px;
}
.container .container-text p{
    color: #444343;
    padding-bottom: 10px;
    line-height: 26px;
    padding-top: 0px;
    margin-right: 90px;
}
.container .container-text .check #box{
    color: #16D887;
}
#plan{
    
    margin-top: 120px;
    margin-left: 120px;
    margin-right: 120px;
    padding-bottom: 80px;
}
#plan h2 {
    text-align: center;
}
#plan .photo {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

#plan .photo .img{
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
#plan .photo h4{
    font-size: 20px;
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}
#plan .photo p{
    justify-items: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#plan .photo .web {
    
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#jamela #last-btn{
    font-size: 15px;
    padding: 15px 25px;
    border-radius: 3px;
    border: none;
    color: #F15B22;
    background-color: white;
    margin-top: 15px;
}
#jamela{
    border: 1px solid black;
    margin: 50px 100px;
    border-radius: 10px;
    background-image: url(/images/background1.jpeg) , url(/images/background2.jpeg);
    background-repeat: no-repeat;
    background-position: left , right;
}
#jamela .jamela-text{
    padding: 80px;
}